name: Publish packages to PyPI

on: create

jobs:
  publish:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install "setuptools >= 40.9"
        pip install .
    - name: Create packages
      run: python setup.py sdist bdist_wheel
    - name: Upload packages
      uses: pypa/gh-action-pypi-publish@v1.0.0a0
      with:
        password: ${{ secrets.pypi_password }}
